.answer-tooltip {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.1); Фон подсказки */
  color: rgba(0, 0, 0, 0.4); /* Полупрозрачный белый текст */
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 10px;
  z-index: 9999;
  pointer-events: none;
  display: none;
  max-width: 400px;
  line-height: 1.4;
  /* backdrop-filter: blur(2px); */
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.2); */
  border: none; /* Убираем границу */
  margin-left: 15px;
}

/* Убираем подсветку вопроса */
[data-automation-id="questionItem"] {
  outline: none !important;
}